.div {
    padding: 10px 0 10px 0;
}

.button {
    background-color: rgba(243, 243, 65, 0.463);
    height: 50px;
    width: 200px;
    padding: 5px;
    margin: 10px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .button {
        width: 320px;
        margin: 2px;
    }

}
