.div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.form {
    background-color: rgba(236, 184, 89, 0.5);
    padding: 100px;
    border-radius: 10px;
}

.button {
    background-color: rgba(243, 243, 65, 0.463);
    height: 50px;
    width: 160px;
    padding: 5px;
    margin: 10px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    transform: scale(1.2);
}

@media (max-width: 384px) {
    .form {
        padding: 50px;
    }

}