.div {
    background-color: rgba(236, 184, 89, 0.5);
    padding: 20px 15px 20px 15px;
    display: flex;
    align-items: center;
}

.h2 {
    margin-right: auto;
}

.button {
    background-color: rgba(243, 243, 65, 0.463);
    height: 50px;
    width: 150px;
    padding: 5px;
    margin: 10px;
    border-style: none;
    border-radius: 5px; 
    cursor: pointer; 
}
.button:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
    .div {
        padding: 20px;
    }

    .h2 {
        font-size: 18px;
    }

    .button {
        height: 35px; 
        width: 70px; 
        font-size: 12px;
    }
}