.div {
    background-color: rgb(236, 184, 89);
    padding: 20px 0 20px 0;
}

.button {
    background-color: rgb(243, 243, 65);
    height: 50px;
    width: 150px;
    padding: 5px;
    margin: 10px;
    border-style: none;
    border-radius: 5px; 
    cursor: pointer; 
}
.button:hover {
    transform: scale(1.2);
}